/* SASS Vars */
$dark-teal: #006068;
$fresh-green: #45B853;
$golden-yellow: #FDB71B;

//Hamburger vars
$hamburger-layer-width: 24px;
$hamburger-layer-height: 2px;
$hamburger-layer-color: #fff;
$hamburger-active-layer-color: #B1994D;
$hamburger-layer-spacing: 4px;
$hamburger-padding-y: 8px;
$hamburger-padding-x: 8px;
